/* Abstract */
@use 'sass:math';
/* Base */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  padding: 3rem 8.4375rem !important; }

html {
  /*
    semua ukuran rem pada layout ditentukan pada font-size yang telah
    dideklarasikan di awal, seperti pada kode dibawah ini, font-size ditentukan
    dengan 62.5% yang berarti 10px, maka 1rem akan dideklarasikan dengan nilai 10px
    pada seluruh layout yang kita buat
    */
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #1B2021;
  color: #fff; }

/* Fade Left Animation */
@keyframes moveinleft {
  /* Animation Start */
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  /* Animation End */
  100% {
    opacity: 1;
    transform: translate(0); } }

/* Fade Right Animation */
@keyframes moveinright {
  /* Animation Start */
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  /* Animation End */
  100% {
    opacity: 1;
    transform: translate(0); } }

/* Button Animation */
@keyframes moveinbottom {
  /* Animation Start */
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  /* Animation End */
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Poppins",  sans-serif;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777; }

.heading-primary {
  font-size: 4rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 6rem;
  color: #1B2021; }

.heading-secondary {
  font-size: 2.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 3.75rem;
  color: #1B2021; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      padding: 0 !important; } }

.u-margin-bottom-small {
  margin-bottom: 1rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

/* Components */
.btn {
  border-radius: unset !important;
  border-color: unset !important; }
  .btn:hover {
    background-color: #f66e09; }

.btn-primary {
  font-size: 1rem;
  color: #fff;
  background-color: #F58634;
  cursor: pointer; }

.btn-md {
  padding: 1.1875rem 2.6875rem; }

.btn-lg {
  padding: 1.75rem 3.5rem; }

/* Layout */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: 500; }
  .navbar-brand-dot {
    color: #F58634;
    width: 0.375rem;
    height: 0.375rem; }
  .navbar-brand::after {
    content: ".";
    color: #F58634;
    font-size: 2.25rem; }

.navbar-nav {
  gap: 3.5rem !important; }

/* Pages */
.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 3.125rem;
  gap: 3.5rem; }
  .hero__header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0px;
    gap: 3.1875rem; }
    .hero__header-wrapper-left {
      color: #1B2021;
      font-weight: 500;
      font-size: 3.75rem;
      min-width: 40.6875rem; }
    .hero__header-wrapper-right {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: nowrap;
      gap: 1.3125rem; }
      .hero__header-wrapper-right-desc {
        font-size: 1.25rem;
        font-weight: 400;
        color: #828282; }
      .hero__header-wrapper-right-line {
        color: #F58634;
        margin-bottom: 0.1875rem; }
  .hero__image-wrapper {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    left: -8.375rem;
    top: 18.75rem;
    width: 81.5625rem;
    height: fit-content; }
    .hero__image-wrapper img {
      width: 100%; }
  .hero__image-card {
    display: flex;
    flex-direction: row;
    gap: 4rem; }
    .hero__image-card-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
      position: absolute;
      background: #fff;
      box-shadow: 0 0.75rem 2.8125rem 0 rgba(86, 86, 86, 0.1);
      right: 0;
      bottom: -1.78125rem;
      padding: 1rem 1rem 1rem 2.5rem;
      gap: 7rem; }
    .hero__image-card-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: nowrap; }
      .hero__image-card-item--header {
        color: #1B2021;
        font-weight: 500;
        margin-bottom: unset; }
      .hero__image-card-item--subheader {
        color: #828282;
        font-weight: 400;
        margin-bottom: unset; }
    .hero__image-card-action {
      max-width: 10.5rem; }
