//  Colors
$color-primary: #1B2021;
$color-secondary: #828282;
$color-tertiary: #F58634;

$color-tertiary-dark: #f66e09;

$color-gray-light: #f7f7f7;
$color-gray-dark: #777;

$color-white: #fff;
$color-black: #000;

// Font Size
$font-size-base: toRem(16);
$font-size-md: toRem(20);
$font-size-lg: toRem(24);
$font-size-xl: toRem(32);

$font-size-header: toRem(40);
$font-size-link: toRem(24);


// Font Weight
$font-weight-normal :400;
$font-weight-semibold :500;
$font-weight-bold : 600;
$font-weight-base : $font-weight-normal;

// Grid 
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 8rem;
$gutter-horizontal: 6rem;