.btn {
    border-radius: unset !important;
    border-color: unset !important;

    &:hover {
        background-color: $color-tertiary-dark;
    }
}

.btn-primary {
    font-size: $font-size-base;
    color: $color-white;
    background-color: $color-tertiary;
    cursor: pointer;
}

.btn-md {
    padding: toRem(19) toRem(43);
}

.btn-lg {
    padding: toRem(28) toRem(56);
}