// Test SASS

.home {

&__latest-wrapper {
    display: flex;
    justify-content: space-between;

    &-left {
        display: flex;
        gap: toRem(56);
    }
}

&__heading-description {
    font-size: toRem(24);
    display: flex;
    align-items: center;
}

}

